[Unit]
Description=Cross backup service.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/crossbackup

[Install]
WantedBy=multi-user.target
